body {
    margin: 100px;
    font-size: 16px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.page {
    max-width: 800px;
    margin: 0 auto;
}

img {
    max-width: 800px;
}

table {
    max-width: 800px;
    font-size: 14px;
}

table td, table th {
    padding: 8px;
    border: 1px solid black;
    text-align: left;
    vertical-align: top;
}

table td p {
    margin: 0;
}

table th {
    background-color: #eee;
}
