/* General */

body {
    margin: 50px;
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
    color: black;
}

a {
    color: inherit;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

strong, b {
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6, strong {
    font-weight: 600;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.3em;
}

img {
    max-width: 800px;
    border-radius: 1px;
}

pre, code {
    font-family: "Source Code Pro", "Menloy", "Monaco", monospace;
    font-size: 16px;
}

hr {
    border: 0;
    border-top: 1px solid black;
}

table {
    max-width: 800px;
    font-size: 14px;
}

table td, table th {
    padding: 8px;
    border: 1px solid #eee;
    text-align: left;
    vertical-align: top;
}

table td p, table th p {
    margin: 7px 0 0 0;
}

table td p:first-child, table th p:first-child {
    margin-top: 0;
}

table th {
    background-color: #eee;
}

table th p {
    margin: 0;
}

/* Custom */

.cv-page {
    max-width: 800px;
    margin: 100px auto 0;
}

.cv-nav {
    color: #bbb;
    margin: 0 0 50px;
}

.cv-nav a {
    text-decoration: none;
}

.cv-nav a:hover {
    text-decoration: underline;
}

.cv-row {
    overflow: hidden;
}

.cv-block {
    float: left;
    width: 33.333%;
}

.cv-block ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cv-block a {
    text-decoration: none;
}

.cv-block a:hover {
    text-decoration: underline;
}

.cv-missing {
    color: #bbb;
}

h1.cv-title {
    font-size: 2em;
}

h3.cv-category {
    font-size: 0.75em;
    margin: 0;
    font-weight: normal;
    color: #bbb;
    height: 27px;
}

h3.cv-category.cv-margin {
    margin-top: 27px;
}

.cv-footer {
    margin-top: 100px;
    color: #bbb;
}

.cv-footer a {
    text-decoration: none;
}

.cv-footer a:hover {
    text-decoration: underline;
}

.cv-footer .cv-reset {
    float: right;
}

/* Confluence specific */

.table-wrap {
    overflow: scroll;
}

.code {
    background-color: #f8f8f8;
    margin: 1em 0;
}

.code pre {
    margin: 0;
}

.code .codeHeader {
    background-color: #e8e8e8;
    padding: 0.5em 1em;
    cursor: pointer;
}

.code .codeHeader .expand-control {
    float: right;
    color: #999;
}

.code .codeContent pre {
    padding: 1em;
}

/* Mobile Overrides */

@media only screen and (max-width: 800px) {
    body {
        margin: 25px;
    }

    img {
        width: 100%;
    }

    .cv-page {
        max-width: 800px;
        margin: 0;
    }

    .cv-nav {
        margin-bottom: 25px;
    }

    .cv-block {
        float: none;
        width: 100%;
    }

    .cv-footer {
        margin-top: 50px;
    }
}
