/* General */

body {
    margin: 50px;
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
}

a {
    color: black;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, strong {
    font-weight: 600;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.3em;
}

img {
    max-width: 800px;
    border-radius: 1px;
}

pre, code {
    font-family: "Source Code Pro", "Menloy", "Monaco", monospace;
    font-size: 16px;
}

table {
    max-width: 800px;
    font-size: 14px;
}

table td, table th {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
    vertical-align: top;
}

table td p, table th p {
    margin: 7px 0 0 0;
}

table td p:first-child, table th p:first-child {
    margin-top: 0;
}

table th {
    background-color: #eee;
}

table th p {
    margin: 0;
}

/* Custom */

.cv-page {
    max-width: 800px;
    margin: 100px auto 0;
}

.cv-nav {
    list-style: none;
    margin: 0 0 50px;
    padding: 0;
}

.cv-nav li {
    display: inline-block;
    margin: 0 20px 0 0;
    padding: 0;
}

.cv-row {
    overflow: hidden;
}

.cv-block {
    float: left;
    width: 33.333%;
}

.cv-block ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cv-block a {
    text-decoration: none;
}

.cv-block a:hover {
    text-decoration: underline;
}

.cv-missing {
    text-decoration: line-through;
}

h1.cv-title {
    font-size: 2em;
}

h3.cv-category {
    font-size: 0.75em;
    margin: 0;
    font-weight: normal;
    color: #bbb;
    height: 27px;
}

h3.cv-category.cv-margin {
    margin-top: 27px;
}

.cv-footer {
    margin-top: 100px;
    color: #aaa;
}

.cv-footer .cv-reset {
    float: right;
    color: #ddd;
}
