body {
    margin: 50px;
    font-size: 18px;
    font-family: 'Fira Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #FF6908;
}

a:hover {
    text-decoration: underline;
}

.cv-page {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 100px;
}

.cv-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
}

.cv-nav li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-right: 20px;
}

h1.cv-title {
    font-size: 2em;
}

h1 {
  font-size: 1.5em;
}

h2 {
    font-size: 1.4em;
    text-decoration: underline;
}

h3 {
    font-size: 1.3em;
}

img {
    max-width: 800px;
    border-radius: 3px;
}

table {
    max-width: 800px;
    font-size: 14px;
}

table td, table th {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
    vertical-align: top;
}

table td p, table th p {
    margin: 7px 0 0 0;
}

table td p:first-child, table th p:first-child {
    margin-top: 0;
}

table th {
    background-color: #eee;
}

table th p {
    margin: 0;
}

.cv-footer {
    margin-top: 100px;
    color: #aaa;
}

.cv-footer .cv-reset {
    float: right;
    color: #ddd;
}
