<h1 class="cv-title">Interaction Design Wiki</h1>

<img src="/assets/main.png">

<h2>Bachelor Courses</h2>

<div class="cv-row">
  <div class="cv-block">
    <h3 class="cv-category">1st Semester</h3>
    <ul>
      <li><span class="cv-missing">Perspectives of Interactivity</span></li>
      <li><a href="/OE">Object Experience</a></li>
      <li><a href="/ADB">Audio-Visual Design Basics</a></li>
      <li><a href="/PB">Programming Basics</a></li>
      <li><span class="cv-missing">Graphic Design Basics</span></li>
      <li><a href="/DF">Digital Fabrication</a></li>
    </ul>
  </div>

  <div class="cv-block">
    <h3 class="cv-category">2nd Semester</h3>
    <ul>
      <li><a href="/IDM">Interaction Design Methods</a></li>
      <li><a href="/IDP">Interaction Design Process</a></li>
      <li><a href="/BGUI">Basic GUI</a></li>
    </ul>

    <h3 class="cv-category cv-margin">3rd Semester</h3>
    <ul>
      <li><span class="cv-missing">Aesthetics of Interaction</span></li>
      <li><a href="/PC">Physical Computing</a></li>
      <li><a href="/IV">Interactive Visualization</a></li>
      <li><span class="cv-missing">Soft Architecture</span></li>
      <li><a href="/SID">Sonic Interaction Design</a></li>
    </ul>
  </div>

  <div class="cv-block">
    <h3 class="cv-category">4th Semester</h3>
    <ul>
      <li><span class="cv-missing">Technology and Society</span></li>
      <li><a href="/SI">Spatial Interaction</a></li>
      <li><a href="/SD">Service Design</a></li>
    </ul>

    <h3 class="cv-category cv-margin">5th Semester</h3>
    <ul>
      <li><span class="cv-missing">Considering Embodiment</span></li>
      <li><a href="/MUI">Mobile User Interface</a></li>
      <li><a href="/EI">Embodied Interaction</a></li>
    </ul>

    <h3 class="cv-category cv-margin">6th Semester</h3>
    <ul>
      <li><span class="cv-missing">Bachelor Thesis</span></li>
    </ul>
  </div>
</div>

<h2>Knowledge Base</h2>

<div class="cv-row">
  <div class="cv-block">
    <h3 class="cv-category">Technology</h3>
    <ul>
      <li><a href="/EE">Electrical Engineering</a></li>
      <li><a href="/CV">Computer Vision</a></li>
      <li><a href="/SE">Systems Engineering</a></li>
      <li><a href="/CP">Web Development</a></li>
    </ul>
  </div>

  <div class="cv-block">
    <h3 class="cv-category">General</h3>
    <ul>
      <li><a href="/BSH">Study Guide</a></li>
    </ul>
  </div>
</div>
